:root {
  --icon-width: 56px;
}

.sidenav-toggle {
  display: none;
  padding: 0;
  margin: 8px;
  min-width: var(--icon-width);
}

@media (max-width: 720px) {
  .sidenav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

mat-icon {
  font-size: 30px;
  height: var(--icon-width);
  width: var(--icon-width);
  line-height: var(--icon-width);
  color: white;
}
