<mat-drawer-container class="app-sidenav-container">
    <mat-drawer #drawer mode="side" opened class="app-sidenav mat-elevation-z10">
        <mat-toolbar color="primary">
            Clients
        </mat-toolbar>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let item of items">{{item.name}}</mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content class="app-sidenav-content">
        <app-toolbar></app-toolbar>
        <router-outlet></router-outlet>
        <button type="button" mat-button (click)="drawer.open()">Apri sidenav</button>
    </mat-drawer-content>
</mat-drawer-container>