<mat-drawer-container class="app-sidenav-container">
    <mat-drawer #drawer [mode]="isScreenSmall ? 'over' : 'side'" [opened]="!isScreenSmall" class="app-sidenav mat-elevation-z10">
        <mat-toolbar color="primary">
            Clients
        </mat-toolbar>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let item of items">{{item.name}}</mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content class="app-sidenav-content">
        <app-toolbar (toggleSidenav)="drawer.toggle()"></app-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>